<div>
  <form [formGroup]="form" (ngSubmit)="addUser(form.value)" novalidate>
    <div>
      <label>First Name</label>
      <input type="text" formControlName="firstName" />
    </div>
    <div>
      <label>Last Name</label>
      <input type="text" formControlName="lastName" />
    </div>
    <div>
      <label>Username</label>
      <input type="text" formControlName="username" />
    </div>
    <div>
      <button type="submit" [disabled]="form.invalid">Create User</button>
    </div>
  </form>
</div>
<h2>Current State</h2>
<pre>{{ (usersState$ | async) | json }}</pre>